[submodule "tools/splat"]
	path = tools/splat
	url = https://github.com/ethteck/splat.git
	
	
[submodule "tools/ido5.3_cc"]
	path = tools/ido5.3_cc
	url = https://github.com/n64decomp/ido5.3_cc.git
[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ.git
[submodule "tools/asm-processor"]
	path = tools/asm-processor
	url = https://github.com/simonlindholm/asm-processor.git
[submodule "tools/ido-static-recomp"]
	path = tools/ido-static-recomp
	url = https://github.com/Emill/ido-static-recomp.git
[submodule "tools/m2c"]
	path = tools/m2c
	url = https://github.com/matt-kempster/m2c.git
[submodule "tools/libreultra"]
	path = tools/libreultra
	url = https://github.com/n64decomp/libreultra.git
